HF_TOKEN=
HF_MODEL=
HF_PROVIDER=auto
LLM_TIMEOUT_SECONDS=12
LLM_TEMPERATURE=0.2
NHS_API_KEY=
NHS_SERVICE_SEARCH_BASE_URL=https://int.api.service.nhs.uk/service-search-api/
NHS_API_TIMEOUT_SECONDS=10
RATE_LIMIT_REQUESTS=20
RATE_LIMIT_WINDOW_SECONDS=60
